.header {
    display: flex;
    justify-content: space-between;
    /* sticky to still remain the header when scrolling */
    position: sticky; 
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
}

.header-icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header-center {
    display: flex;
    align-items: center;
    max-width: fit-content;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 10px;
    height: 30px;
    margin-top: 20px;
}

.header-center > input {
   width: 400px;
   border: none;
   padding: 10px;
   outline-width: 0;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 80px;
    justify-content: space-between;
    width: 15vw;
}